---
layout: default
title: About
permalink: /about/
---
<section class="about">
  <a href="{{site.baseurl}}/" class="button_back"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a>
  <div class="about_box">
    <div class="author">
        <div class="author_image">
          <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="Author image">
        </div>
        <div class="author_info">
          <h2 class="author_title">{% if site.author-name %}{{site.author-name}}{% else %}Dwayne Newman{% endif %}</h2>
          <p class="author_subtitle">I'm a searcher. I'm an architect, urban researcher, miniature landscape watercolourist, urban sketcher, mapper, and I'm in my way to connect these facets trough art. I enjoy singing, collecting objects from the street, and having conversations while I'm walking with someone. I'm from Santiago de Chile and I'm now based in Southampton, UK.</p>
          <p class="author_subtitle">Soy una buscadora. Soy una arquitecta, investigadora urbana, acuarelista de paisajes miniatura, urban sketcher, mapeadora y ahora estoy en la ruta de conectar estas facetas a través del arte. Me gusta cantar, recolectar cachureos y conversar mientras camino junto a alguien. Soy de Santiago de Chile actualmente vivo en Southampton, Reino Unido.</p>
        </div>
      </div>

      <div class="about_social">
        {% include social_footer.html %}
      </div>
    </div> <!-- End Section Author -->
</section>
