---
layout: main
---

{% for p in site.sections reversed %}
{% unless p.this_category contains 'process' %}
  <div class="chapter">
  
  {% capture img_base_folder %}{% if p.img_base_folder %}{{p.img_base_folder}}{% else %}{{"/assets/img/"}}{% endif %}{% endcapture %}
  <a href="{{site.baseurl | append : p.permalink }}">
    <img src={{ img_base_folder | prepend: site.baseurl | append : p.img }} alt="{{post.title}}">
  </a>
  
  <div class="chapter_inner">
    <h3 class="chapter_title">{{ p.title }}</h3>
  </div>
  
  </div>

{% endunless %}
{% endfor %}
