---
layout: main
---

{% for page in site.sections reversed %}
  <div class="chapter">
  
  {% capture img_base_folder %}{% if page.img_base_folder %}{{page.img_base_folder}}{% else %}{{"/assets/img/"}}{% endif %}{% endcapture %}
  <a href="{{site.baseurl | append : page.permalink }}">
    <img src={{ img_base_folder | prepend: site.baseurl | append : page.img }} alt="{{post.title}}">
  </a>
  
  <div class="chapter_inner">
    <h3 class="chapter_title">{{ page.title }}</h3>
  </div>
  
  </div>

{% endfor %}
