---
layout: default
---
{% include header.html %}

{% capture img_base_folder %}{% if page.img_base_folder %}{{page.img_base_folder}}{% else %}{{"/assets/img/"}}{% endif %}{% endcapture %}
<main class="post_content">
  <article class="post">
    <div class="entry_content" style="margin-top: -5rem">

      <h1 class="post_title">{{page.title}}</h1>

      <div id="gallery" style="display:none;">
        {% for image in site.static_files %}
          {% capture path %}{{ img_base_folder | append : page.imgs_folder }}{% endcapture %}
          {% if image.path contains path %}
            {% unless image.path contains '-th.' %}
              <img alt="Image"
               src="{{ site.path }}{{ image.path | remove: image.name }}thumbs/{{ image.basename | append: '-th' | append: image.extname }}"
               data-image="{{ site.path }}{{ image.path }}"
               data-description="">
            {% endunless %}
          {% endif %}
        {% endfor %}
      </div>

      <div class="process_word">
        <a href="{{ site.path }}{{ page.process }}" style="text-decoration:none; color: black">PROCESS</a>
      </div>
    </div>

  </article>
  
</main> <!-- End Section Post Content -->

<script type="text/javascript"> 
    jQuery(document).ready(function(){ 
        jQuery("#gallery").unitegallery({
            gallery_theme: "tiles",
            tiles_type: "nested"						
        });
    });
</script>

{% include footer.html %}
